.sign-in-wrapper {
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sign-in-card {
    width: 300px;
}

.sign-in-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-actions {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-restore {
        margin-top: 5px;
        font-size: 75%;
        line-height: 30px;
    }
}

.sign-in-button {
    width: 100px;
}

.sign-in-button:hover {
    transform: scale(1.05);
    transition-duration: 500ms;
    transition-property: transform;
}

.sign-in-button:not(:hover) {
    transform: scale(1);
    transition-duration: 1s;
    transition-property: transform;
}

.sign-in-field {
    width: 92%;
    padding-left: 4%;
}

.sign-in-social {
    margin-top: 5px;

    &-title {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &-icons {
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    &-icon {
        cursor: pointer;
        flex: 1;
        font-size: 50px;
    }

    &-icon:hover {
        transform: scale(1.05);
        transition-duration: 500ms;
        transition-property: transform;
    }

    &-icon:not(:hover) {
        transform: scale(1);
        transition-duration: 1s;
        transition-property: transform;
    }
}
