<mat-toolbar color="primary" role="heading" class="mat-elevation-z4">
    <button mat-button class="nav-title">Тум-Турум</button>
    <button mat-button class="nav-button">Новости</button>
    <button mat-button class="nav-button">Задания</button>
    <button mat-button class="nav-button">Чаты</button>
    <button mat-button class="nav-button">Настройки</button>
    <span class="nav-spacer"></span>
    <button mat-button class="nav-button">Войти</button>
    <button mat-raised-button class="nav-button" color="accent">Создать аккаунт</button>
</mat-toolbar>
