.nav-bar {
    position: fixed;
    z-index: 100;
}

.nav-bar-padding {
    padding-bottom: 64px;
}

.nav-title {
    margin-right: 10px;
    font-size: 20px;
}

.nav-button {
    margin-left: 10px;
}

.nav-button:focus:not(.mat-raised-button) {
    background: rgba(0,0,0,.2);
}

.nav-active {
    background: rgba(0,0,0,.2);
}

.nav-button:hover:not(.mat-raised-button) {
    background: rgba(0,0,0,.3);
}

.nav-button:hover.mat-raised-button {
    transform: scale(1.05);
    transition-duration: 500ms;
    transition-property: transform;
}

.nav-button:not(:hover).mat-raised-button {
    transform: scale(1);
    transition-duration: 1s;
    transition-property: transform;
}

.nav-spacer {
    flex: 1 1 auto;
}